# copy this to `.env` to use, normally only used for development environment

# DOMAIN SETTINGS
# ------------------------------------------------------------------------------

BASE_URL=http://example.com
# ADMIN_URL=
ALLOWED_HOSTS=*
ADMINS=dev@luotao.net


# DJANGO SETTINGS
# ------------------------------------------------------------------------------

DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=yK4/%(ur@)PIA;EjQ7?&`?+Qkd$KB.6Q>FM-gvD%X#GR#9;Gm2vg^9%&ka24
# DATABASE_URL=mysql://test:test@localhost:3306/db_name_example





