Django==2.2.24
wagtail==2.4
django-environ==0.4.4
mysqlclient==1.3.12
django-filter==1.1.0
djangorestframework==3.9.4
python-dateutil==2.6.1
elasticsearch==5.5.2
django-extensions==2.0.0
wagtailstreamforms==3.5
wagtailmenus==2.13
wagtail-condensedinlinepanel==0.5.2
