/*
==========================================================================
   #Buttons
========================================================================== */
$btn-border-radius: 4px;
$btn-padding-v: 10px;
$btn-padding-h: 30px;

$btn-large-padding-top: 19px;
$btn-large-padding-right: 35px;
$btn-large-padding-bottom: 19px;
$btn-large-padding-left: 40px;

$btn-primary-border-width: 1px;
$btn-secondary-border-width: 1px;

%button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
%btn,
.btn {
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 20px 20px 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    @include font-size(16px, 20px);
    border-radius: $btn-border-radius;

    @include breakpoint(mobile) {
        margin-bottom: 10px;
    }

    &:focus,
    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: $focus-border-width solid $color-focus;
    }

    &:active {
        box-shadow: none;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus {
            color: inherit;
        }
    }
}

%button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
a.btn,
.btn a,
%btn a,
a%btn {
    padding: $btn-padding-v $btn-padding-h;
    transition: none;
}

%button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: $color-btn-primary-bg;
    color: $color-btn-primary-text;

    @include hover(
        $color-btn-primary-text-hover,
        $color-btn-primary-bg-hover,
        $color-btn-primary-bg-hover
    );
}

.btn-large {
    @extend %btn;
    @include font-size(18px, 22px);
    color: $color-btn-large-text;
    background-color: $color-btn-large-bg;
    @include hover($color-btn-large-text-hover, $color-btn-large-bg-hover);
}

.btn-large a,
a.btn-large {
    padding: $btn-large-padding-top $btn-large-padding-right
        $btn-large-padding-bottom $btn-large-padding-left;
    @include icon(arrow-right, after);

    &:after {
        display: inline-block;
        font-size: 12px;
        color: inherit;
        margin-left: 16px;
        text-decoration: none;
    }
}

.btn-primary {
    @extend %btn;
    color: $color-btn-primary-text;
    background-color: $color-btn-primary-bg;
    border: $btn-primary-border-width solid $color-btn-primary-bg;

    @include hover(
        $color-btn-primary-text-hover,
        $color-btn-primary-bg-hover,
        $color-btn-primary-bg-hover
    );
}

.btn-secondary {
    @extend %btn;
    color: $color-btn-secondary-text;
    background-color: $color-btn-secondary-bg;
    border: $btn-secondary-border-width solid $color-btn-secondary-border;

    @include hover(
        $color-btn-secondary-text-hover,
        $color-btn-secondary-bg-hover
    );
}

.btn-tertiary {
    color: $color-btn-tertiary-text;
    background-color: $color-btn-tertiary-bg;
    border: 0;

    @include hover(
        $color-btn-tertiary-text-hover,
        $color-btn-tertiary-bg-hover
    );

    a {
        @include font-size(16px, 22px);
        color: $color-btn-tertiary-text;
        text-decoration: underline;
        @include icon(arrow-right, after);

        &:after {
            display: inline-block;
            font-size: 9px;
            color: inherit;
            margin-left: 10px;
            text-decoration: none;
        }

        @include hover($color-btn-tertiary-text-hover);
    }
}
