/*
==========================================================================
   #Default
========================================================================== */
// #High-level base settings
$base-font-size: 16px !default;
$base-line-height: 23px !default;
$base-text-color: #4c5357 !default;
$base-background-color: #fff !default;
